<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="foundation.css" type="text/css" media="screen" charset="utf-8">
  </head>
  <body>
    <div ng-app="myApp">
      <input type="text" ng-model="model.title">
      <input type="text" ng-model="model.content">
      <div ng-controller="AppCtrl">
        <zippy title="{{model.title}}">
          This is the {{model.content}}
        </zippy>
      </div>
    </div>
    <script src="angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="main.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
