<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="foundation.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="styles.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div ng-app="app" ng-controller="AppCtrl as app">
      <form>
        <input type="text" ng-model="app.contactCopy.firstName" />
        <button ng-click="app.saveContact()">Save</button>
      </form>
      <table class="table table-scriped">
        <thead>
          <tr>
            <td>First</td>
            <td>Last</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="contact in app.contacts" ng-click="app.selectContact(contact)">
            <td>{{contact.firstName}}</td>
            <td>{{contact.lastName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="bower_components/angular/angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="main.js" type="text/javascript" charset="utf-8"></script>
  </body>
  </html>

